<div class="col-lg-6 mx-auto">
  <%= breadcrumb(Pet.model_name.human) %>
  <%= link_to "追加", new_users_pet_path, class: "btn btn-outline-dark" %>
  <ul class="list-group mt-3">
    <% current_user.pets.each do |pet| %>
      <%= link_to edit_users_pet_path(pet), class: "list-group-item list-group-item-action d-flex flex-wrap gap-3" do %>
        <%= pet.name %>
        <small class="mt-auto ms-auto">
          <%= Pet.human_attribute_name :gender %>
          <%= pet.gender_i18n %>
        </small>
      <% end %>
    <% end %>
  </ul>
</div>
